body {
  /* background: rgb(86, 110, 168); */
  /* background-image: url("/styles/Images/tetris2.jpg");
  background-repeat: no-repeat; */
  background-image: linear-gradient(
    to right,
    rgb(58, 55, 55),
    rgb(103, 50, 187),
    rgb(96, 13, 230),
    rgba(74, 8, 180, 0.692)
  );
  margin: 0;
  overflow: hidden;
}
h3 {
  align-self: center;
  color: #fff;
  font-family: "Press Start 2P", cursive;
}

/* offset-x | offset-y | blur-radius | color */

#start-button {
  background-color: cornflowerblue;
  border: 4px solid rgb(101, 157, 247);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem rgb(59, 62, 69);
  color: #fff;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  padding: 0.5rem;
  outline: none;
}

#start-button:hover {
  background-color: rgba(101, 157, 247, 0.5);
}

#start-button:active {
  background-color: rgba(101, 157, 247, 0.5);
  box-shadow: 0 0.25rem rgb(59, 62, 69);
  transform: translateY(0.25rem);
}

#restart-button {
  align-self: center;
  border-radius: 50%;
  background-color: cornflowerblue;
  border: 4px solid rgb(101, 157, 247);
  box-shadow: 0 0.4rem rgb(59, 62, 69);
  cursor: pointer;
  margin-top: 1.5rem;
  width: 25%;
  outline: none;
}

#restart-button:hover {
  background-color: rgba(101, 157, 247, 0.5);
}

#restart-button:active {
  background-color: rgba(101, 157, 247, 0.5);
  box-shadow: 0 0.1rem rgb(59, 62, 69);
  transform: translateY(0.1rem);
}

.restart-icon {
  color: #fff;
  margin: 0.5rem;
  margin-left: 0.3rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  min-width: 830px;
}

.main-grid {
  box-sizing: border-box;
  background-color: rgb(66, 135, 245);
  border: 4px solid rgb(101, 157, 247);
  border-radius: 1%;
  display: flex;
  flex-wrap: wrap;
  height: 608px;
  justify-content: start;
  margin: 5% 0 0 20%;
  order: 1;
  width: 308px;
}

.main-grid div {
  box-sizing: border-box;
  border-radius: 11%;
  border: 1px solid rgb(101, 157, 247);
  height: 30px;
  width: 30px;
}

.main-grid .bottom {
  border: none;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  box-sizing: border-box;
  background-color: rgb(66, 135, 245);
  border: 4px solid rgb(101, 157, 247);
  border-radius: 3%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  height: 128px;
  width: 128px;
  /* width: 80px;
  height: 80px; */
}

.mini-grid div {
  box-sizing: border-box;
  border: 1px solid rgb(101, 157, 247);
  border-radius: 11%;
  height: 30px;
  width: 30px;
  /* height: 20px;
  width: 20px; */
}

.control-panel {
  align-self: start;
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;

  justify-content: space-between;
  margin: 5% 0 0 8%;
  order: 2;
}
.game-over {
  color: rgb(224, 24, 44);
  font-size: large;
  align-self: center;
}

.control-keys {
  flex-direction: column;
  display: flex;
  align-items: center;
  order: 2;
  margin-top: 50%;
}

.control-keys div {
  margin-top: 0.5rem;
}

.control-keys div button {
  margin: 0 0.1rem 0 0.1rem;
}

.key {
  background-color: rgb(101, 157, 247);
  border: 2px solid rgb(59, 62, 69);
  border-radius: 0.3rem;
  box-shadow: 0 0.3rem rgb(59, 62, 69);
  color: #fff;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  padding: 0.5rem;
  outline: none;
  width: 70px;
  height: 70px;
}

.key:hover {
  background-color: rgba(101, 157, 247, 0.5);
}

.key:active {
  background-color: rgba(101, 157, 247, 0.5);
  box-shadow: 0 0.25rem rgb(59, 62, 69);
  transform: translateY(0.2rem);
}

.active-button {
  background-color: rgba(101, 157, 247, 0.5) !important;
  box-shadow: 0 0.25rem rgb(59, 62, 69);
  transform: translateY(0.2rem);
}
