body {
  background-image: linear-gradient(
    to right,
    rgb(31, 28, 28),
    rgb(77, 76, 76),
    rgb(31, 28, 28)
  );
  margin: 0;
  overflow: hidden;
}

h1 {
  align-self: center;
  color: #fff;
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  text-align: center;
  margin-bottom: 0;
}
h3 {
  align-self: center;
  color: #fff;
  font-family: "Press Start 2P", cursive;
}

#start-button {
  background-color: rgb(31, 28, 28);
  border: 4px solid rgb(77, 76, 76);
  border-radius: 0.3rem;
  box-shadow: 0 0.3rem rgb(59, 62, 69);
  color: #fff;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  padding: 0.5rem;
  outline: none;
}

#start-button:hover {
  background-color: rgb(77, 76, 76);
  border: 4px solid rgb(31, 28, 28);
  box-shadow: 0 0.3rem rgb(31, 28, 28);
}

#start-button:active {
  background-color: rgb(77, 76, 76);
  box-shadow: 0 0.3rem rgb(31, 28, 28);
  transform: translateY(0.25rem);
}

#restart-button {
  align-self: center;
  border-radius: 50%;
  background-color: rgb(31, 28, 28);
  border: 4px solid rgb(77, 76, 76);
  box-shadow: 0 0.4rem rgb(59, 62, 69);
  cursor: pointer;
  margin-top: 1.5rem;
  width: 25%;
  outline: none;
}

#restart-button:hover {
  background-color: rgb(77, 76, 76);
  border: 4px solid rgb(31, 28, 28);
  box-shadow: 0 0.3rem rgb(31, 28, 28);
}

#restart-button:active {
  background-color: rgb(77, 76, 76);
  box-shadow: 0 0.1rem rgb(31, 28, 28);
  transform: translateY(0.1rem);
}

.restart-icon {
  color: #fff;
  margin: 0.5rem;
  margin-left: 0.3rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 90vmax;
  margin: 50px 50px 50px 50px;
  padding: 50px 50px 50px 50px;
  border: 4px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    rgb(77, 76, 76),
    rgb(31, 28, 28),
    rgb(77, 76, 76)
  );
}

.main-grid {
  box-sizing: border-box;
  background-color: rgb(31, 28, 28);
  border: 4px solid rgb(77, 76, 76);
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  height: 608px;
  justify-content: start;
  margin: 5% 0 0 5%;
  padding: 1px;
  order: 1;
  width: 308px;
}

.main-grid div {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgb(77, 76, 76);
  height: 30px;
  width: 30px;
  flex-basis: 10%;
}

.tetromino-inset-shadow {
  box-shadow: inset 2px 2px 2px 3px rgba(0, 0, 0, 0.1),
    inset -2px -2px 2px 3px rgba(0, 0, 0, 0.1);
}

.main-grid .bottom {
  border: none;
}

.tetromino {
  background-color: blue;
}

.mini-grid {
  box-sizing: border-box;
  background-color: rgb(31, 28, 28);
  border: 4px solid rgb(77, 76, 76);
  border-radius: 3%;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  height: 128px;
  width: 128px;
  padding: 1px;
}

.mini-grid div {
  box-sizing: border-box;
  border: 1px solid rgb(77, 76, 76);
  border-radius: 11%;
  height: 30px;
  width: 30px;
  flex-basis: 25%;
}

.control-panel {
  align-self: start;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 5% 0 0 8%;
  order: 2;
}
.game-over {
  color: rgb(224, 24, 44);
  font-size: large;
  align-self: center;
}

.control-keys {
  flex-direction: column;
  display: flex;
  align-items: center;
  order: 2;
  margin-top: 50%;
}

.control-keys div {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: nowrap;
}

.control-keys div button {
  margin: 0 0.1rem 0 0.1rem;
}

.key {
  background-color: rgb(31, 28, 28);
  border: 2px solid rgb(77, 76, 76);
  border-radius: 0.3rem;
  box-shadow: 0 0.3rem rgb(59, 62, 69);
  color: #fff;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  padding: 0.5rem;
  outline: none;
  width: 70px;
  height: 70px;
}

.key:hover {
  background-color: rgb(77, 76, 76);
  border: 2px solid rgb(31, 28, 28);
  box-shadow: 0 0.25rem rgb(31, 28, 28);
}

.key:active {
  background-color: rgb(77, 76, 76);
  box-shadow: 0 0.25rem rgb(59, 62, 69);
  transform: translateY(0.2rem);
}

.active-button {
  background-color: rgb(77, 76, 76) !important;
  box-shadow: 0 0.25rem rgb(59, 62, 69);
  border: 2px solid rgb(31, 28, 28);
  transform: translateY(0.2rem);
}
